<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Sample Spring Boot-Thymeleaf application</title>
</head>
<body>
	<table>
		<tr valign="top">
			<td align="right"><a href="/welcome">Back to Main</a></td>
		</tr>
		<tr>
			<td>
				<table border="1">
					<tr th:each="tweet : ${tweetList}">
						<td>Tweet text:</td>
						<td th:text="*{tweet.text}" />
						<td>By Handle:</td>
						<td th:text="*{tweet.fromUser}" />
						<td>Create Date:</td>
						<td th:text="*{tweet.createdAt}" />
					</tr>

				</table>
			</td>
		</tr>
	</table>
</body>
</html>