<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<title>Sample Spring Boot-Thymeleaf application</title>
</head>
<body>
	<form action="#" th:action="@{/favorites}" th:object="${twitterModel}"
		method="post" class="form-search">
		<fieldset>
			<legend>Spring Boot Social App</legend>
			<label>Enter twitter handle: </label>
			<div class="input-prepend">
				<span class="add-on">@</span> <input class="span2"
					th:field="*{handle}" id="prependedInput" type="text"
					placeholder="Username" />
			</div>

			<button type="submit" class="btn">Submit</button>
		</fieldset>
	</form>

</body>
</html>